// =========================================================================
// main.scss
//
// This is the main SCSS file that imports all other partials.
// It is recommended to use the @use rule for a modern, modular approach.
// =========================================================================

// Use the variables from the _variables.scss file. The "variables"
// namespace is automatically created from the filename.

// Import: Abstracts
@use './styles/abstracts/variables';
@use './styles/abstracts/placeholders';

// Import: Base
@use './styles/base/base';

// Example usage of the variables from the imported file:
body {
  font-family: variables.$font-family-base;
  //color: variables.$text-color;
  color: orange;
}

h1 {
  font-size: variables.$font-size-h1;
  color: variables.$primary-dark;
}

.button {
  padding: variables.$spacing-md;
  border-radius: variables.$border-radius;
  background-color: variables.$primary-color;
  color: variables.$text-light-color;
  box-shadow: variables.$box-shadow;
}


// Debugging
.message-error {
  @extend %message-base;
  color: red;
}
